.dsc-product-details-top {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.dsc-product-details-top img {
    width: 220px;
}

.dsc-product-details-bottom {
    padding: 10px 20px;
}

.dsc-product-details-bottom h3 {
    color: var(--color-green);
    font-size: 20px;
}

.dsc-product-details-bottom h4 {
    color: var(--color-gray);
    font-size: 12px;
}

.dsc-product-details-bottom p {
    color: var(--color-gray);
    font-size: 12px;
    margin: 10px 0px;
}

.dsc-category-container {
    display: flex;
    flex-wrap: wrap;
}