@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --color-yellow: #FFE500;
    --color-light-gray: #E8E8E8;
    --color-gray: #636363;
    --color-white: #fff;
    --color-border-gray: #d9d9d9;
    --color-placeholder-gray: #d9d9d9;
    --color-green: #0CAF1D;
    --color-blue: #3483FA;
    --color-form-error-red: #FF3333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

html, body {
    background-color: var(--color-light-gray);
}

main {
    padding: 0 20px;
}

.dsc-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/*--------------------------------------------------------------------*/
/* Header styles */

header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.dsc-header-admin {
    background-color: var(--color-green);
    color: var(--color-white);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    font-size: 16px;
}

nav a {
    font-size: 14px;
    font-weight: 700;
}

.dsc-nav-right {
    display: flex;
    align-items: center;
}

.dsc-menu-items-container {
    display: flex;
}

.dsc-menu-items-container img {
    width: 20px;
    height: 20px;
}

.dsc-menu-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.dsc-menu-item p {
    display: none;
    margin-left: 5px;
    font-size: 14px;
}

.dsc-menu-item-active {
    font-weight: 700;
}

.dsc-logged-user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dsc-logged-user p {
    font-size: 12px;
}

@media(min-width: 576px) {
nav h1 {
    font-size: 24px;
}

.dsc-menu-item p {
    display: unset;
}
}

/*--------------------------------------------------------------------*/
/* card styles */

.dsc-card {
    border: 1px solid var(--color-border-gray);
    background-color: var(--color-white);
    border-radius: 4px;
}

/*---------------------------------------------------------------------*/
/* button styles */

.dsc-btn-page-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
}

@media (min-width: 576px) {
    .dsc-btn-page-container {
    width: 220px;
}
}

.dsc-btn {
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------------------*/
/* generic styles */

.dsc-mb20 {
    margin-bottom: 20px;
}

.dsc-mt20 {
    margin-top: 20px;
}

.dsc-line-bottom {
    border-bottom: 1px solid var(--color-border-gray);
}

.dsc-section-title {
    text-align: center;
    color: var(--color-gray);
    font-size: 16px;
}

.dsc-txt-left {
    text-align: left;
}

@media(min-width:576px){
    .dsc-section-title {
    text-align: left;
    font-size: 24px;
}
}

/*---------------------------------------------------------------------*/
/* Form styles */

.dsc-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.dsc-form h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray);
    text-transform: uppercase;
    text-align: center;
}

.dsc-form-controls-container {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    margin: 20px 0;
}

.dsc-form-control {
    width: 100%;
    height: 40px;
    font-size: 16px;
    padding: 0 20px;
    color: var(--color-gray);
    border-radius: 4px;
    border: 1px solid var(--color-border-gray);
}

.dsc-form-control:focus {
    outline: none;
}

.dsc-form-control::placeholder {
    color: var(--color-placeholder-gray);
}

.dsc-input-error {
    border: 1px solid var(--color-form-error-red);
}

.dsc-form-error {
    color: var(--color-form-error-red);
    font-size: 12px;
    padding-left: 4px;
}

.dsc-select:invalid {
    color: var(--color-placeholder-gray);
}

.dsc-select option[disabled] {
    display: none;
}

.dsc-select option {
    color: var(--color-gray);
}

.dsc-textarea {
    resize: none;
    height: 128px;
    padding-top: 10px;
}

@media(min-width: 576px){
    .dsc-form h2 {
        font-size: 24px;

    }
}

/*---------------------------------------------------------------------*/
/* Table styles */

.dsc-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.dsc-table th:nth-child(2){
    border-top-left-radius: 10px;
}

.dsc-table th:last-child{
    border-top-right-radius: 10px;
}

.dsc-table td:nth-child(2){
    padding-left: 10px;
}

.dsc-table td:last-child{
    padding-right: 5px;
}

.dsc-table thead {
    height: 55px;
    font-size: 14px;
    color: var(--color-gray);
    background-color: var(--color-white);
}

.dsc-table tbody {
    text-align: center;
    font-size: 12px;
    color: var(--color-gray);
    background-color: var(--color-white);
}

.dsc-table tbody tr {
    height: 70px;
    border-top: 1px solid var(--color-border-gray);
}

.dcs-tb576 {
    display: none;
}

.dcs-tb768 {
    display: none;
}

@media(min-width: 576px) {
    .dcs-tb576 {
    display: table-cell;
}

.dsc-table td:nth-child(1){
    padding-left: 20px;
}

.dsc-table th:nth-child(1){
    padding-left: 20px;
    border-top-left-radius: 10px;
}

.dsc-table td:nth-child(2){
    padding-left: 0;
}

.dsc-table th:nth-child(2){
    border-top-left-radius: 0;
}

}

@media(min-width: 768px) {
    .dcs-tb768 {
    display: table-cell;
}
}

@media(min-width: 992px) {
.dsc-table tbody {
    font-size: 16px;
}
}