#cart-container-section {
    padding: 20px 0px;
}

.dsc-cart-total-container {
    padding: 10px 20px;
}

.dsc-cart-total-container h3 {
    text-align: left;
    font-size: 16px;
    color: var(--color-green);
}

.dsc-cart-item-container {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
}

.dsc-cart-item-container img {
    width: 78px;
    height: 78px;
}

.dsc-cart-item-left {
    display: flex;
}

.dsc-cart-item-right {
    padding-bottom: 10px;
    font-size: 12px;
    color: var(--color-green);
}

.dsc-cart-item-description {
    padding: 10px 0;
    color: var(--color-gray);
}

.dsc-cart-item-description h3 {
    font-size: 12px;
}

.dsc-cart-item-quantity-container {
    display: flex;
    font-size: 16px;
    font-weight: 700;
}

.dsc-cart-item-quantity-container p {
    margin: 0 5px;
}

.dsc-cart-item-quantity-btn {
    color: var(--color-blue);
    cursor: pointer;
}

@media(min-width: 576px){

    .dsc-cart-item-right {
    padding: 10px 0;
}

.dsc-cart-item-container {
    flex-direction: row;
    justify-content: space-between;
}

.dsc-cart-total-container h3 {
    text-align: right;
}

}